<ion-content class="ion-padding">

  <ion-card class="ion-no-margin-top ion-padding">
    
    <div class="table-actions">
      <span class="section-title">Fasce Orarie Ritiro</span>
      <ion-button class="btn-add" size="small" (click)="onAdd()">
        <ion-icon slot="start" name="time-outline"></ion-icon>
        Nuova Fascia
      </ion-button>
    </div>

    @if (fasceOrarie && fasceOrarie.length > 0) {
      <div class="table-container">
        
        <div class="table-header cols-3">
          <div class="col-day">Giorno</div>
          <div class="col-time">Orario di Ritiro</div>
          <div class="col-actions">Azioni</div>
        </div>

        @for (fascia of fasceOrarie; track fascia.inizio_fascia) {
          <div class="table-row cols-3">
            
            <div class="col-day">
              <ion-icon name="calendar-outline" color="primary"></ion-icon>
              <span class="day-text">{{ fascia.inizio_fascia | date:'EEE dd MMM yyyy' }}</span>
            </div>
            
            <div class="col-time">
              <span class="time-badge">
                {{ fascia.inizio_fascia | date:'HH:mm' }} - {{ fascia.fine_fascia | date:'HH:mm' }}
              </span>
            </div>
            
            <div class="col-actions">
            <ion-button class = "action-button" fill="clear" color="danger" size="small" (click)="onDelete(fascia)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
            </div>

          </div>
        }
      </div>
    } @else {
      <div class="no-data ion-text-center">
        <ion-icon name="hourglass-outline"></ion-icon>
        <p>Nessuna fascia oraria configurata al momento.</p>
      </div>
    }

  </ion-card>

</ion-content>