<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="ordini" href="/copisteria/ordini">
      <ion-icon name="document-outline"></ion-icon>
      <ion-label>Ordini</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fasce-orarie" href="/copisteria/fasce-orarie">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Fasce orarie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configurazioni" href="/copisteria/configurazioni">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Configurazioni</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="statistiche" href="/copisteria/statistiche">
      <ion-icon name="podium-outline"></ion-icon>
      <ion-label>Statistiche</ion-label>
    </ion-tab-button>

    <ion-tab-button class="logout-btn" (click)="onLogout()">
      <ion-icon name="exit-outline"></ion-icon>
      <ion-label>Esci</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


