<ion-tabs>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="copisteria-ordini" href="/copisteria/copisteria-ordini">
      <ion-icon name="document-outline"></ion-icon>
      <ion-label>Ordini</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fasce-orarie" href="/copisteria/fasce-orarie">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Fasce orarie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configurazioni" href="/copisteria/configurazioni">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Configurazioni</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="archivio-statistiche" href="/copisteria/archivio-statistiche">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Archivio&Statistiche</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>



