<ion-header>
  <ion-toolbar>
    <ion-title>Configurazioni</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="ion-no-margin-top">

    <ion-segment [(ngModel)]="selectedTab">
      <ion-segment-button value="paper">
        <ion-icon name="document-outline"></ion-icon>
        <ion-label>Formato carta</ion-label>
      </ion-segment-button>

      <ion-segment-button value="print">
        <ion-icon name="print-outline"></ion-icon>
        <ion-label>Metodo stampa</ion-label>
      </ion-segment-button>

      <ion-segment-button value="addons">
        <ion-icon name="star-outline"></ion-icon>
        <ion-label>Add-on e finiture</ion-label>
      </ion-segment-button>

    </ion-segment>


    <ng-container *ngIf="selectedTab === 'paper'">
      <div class="table-actions_1">
        <ion-button class="ngc" size="small" (click)="onGmr()">
          <ion-icon slot="start" name="add-outline"></ion-icon>
          Giorni Max Ritiro
        </ion-button>
        <ion-button class="btn-add" size="small" (click)="onAdd()">
          <ion-icon slot="start" name="add-outline"></ion-icon>
          Aggiungi formato
        </ion-button>
      </div>

      <div class="table-container">
        <div class="table-header cols-3">
          <div class="col-name">Nome</div>
          <div class="col-price">Prezzo</div>
          <div class="col-actions">Azioni</div>
        </div>

        <div class="table-row cols-3">
      @for (item of this.opzioniOrdini.prezzi_formati_carta | keyvalue; track item.key) {
          <div class="col-name">{{ item.key }}</div>
          <div class="col-price">€ {{ item.value }}</div>
          <div class="col-actions">
            <ion-button fill="clear" size="small" (click)="onEdit(item)">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="danger" size="small" (click)="onDelete(item)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </div>
        
      }
      </div>
      </div>
    </ng-container>


    <ng-container *ngIf="selectedTab === 'print'">
      <div class="table-actions">
        <ion-button class="btn-add" size="small"  (click)="onAdd()">
          <ion-icon slot="start" name="add-outline"></ion-icon>
          Aggiungi metodo
        </ion-button>
      </div>

      <div class="table-container">
        <div class="table-header cols-3">
          <div class="col-name">Nome</div>
          <div class="col-price">Prezzo</div>
          <div class="col-actions">Azioni</div>
        </div>

        <div class="table-row cols-3" >
          @for (item of this.opzioniOrdini.prezzi_metodi_stampa | keyvalue; track item.key) {
          <div class="col-name">{{ item.key }}</div>
          <div class="col-price">€ {{ item.value}}</div>
          <div class="col-actions">
            <ion-button fill="clear" size="small" (click)="onEdit(item)">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="danger" size="small" (click)="onDelete(item)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </div>
        }
        </div>
      </div>
    </ng-container>


    <ng-container *ngIf="selectedTab === 'addons'">
      <div class="table-actions">
        <ion-button class="btn-add" size="small"  (click)="onAdd()">
          <ion-icon slot="start" name="add-outline"></ion-icon>
          Aggiungi add-on
        </ion-button>
      </div>

      <div class="table-container">
        <div class="table-header cols-3">
          <div class="col-name">Nome</div>
          <div class="col-price">Prezzo</div>
          <div class="col-actions">Azioni</div>
        </div>

        <div class="table-row cols-3">
          @for (item of this.opzioniOrdini.prezzi_add_on | keyvalue; track item.key) {
          <div class="col-name">{{ item.key }}</div>
          <div class="col-price">€ {{ item.value}}</div>
          <div class="col-actions">
            <ion-button fill="clear" size="small" (click)="onEdit(item)">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="danger" size="small" (click)="onDelete(item)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </div>
        }
        </div>
      </div>
    </ng-container>

  </ion-card>

</ion-content>
