<ion-content [fullscreen]="true">

  <ion-card class="ion-no-margin-top">

    <div class="table-container">
      
      <div class="table-header cols-reports">
        <div class="col-id-cop">ID Copisteria</div>
        <div class="col-id-cons">ID Consumatore</div>
        <div class="col-time">Tempo</div>
        <div class="col-reason">Motivazione</div>
      </div>

      @for(segnalazione of adminService.segnalazioni; track `${segnalazione.consumatore_id} ${segnalazione.copisteria_id} ${segnalazione.tempo}`) {
        <div class="table-row cols-reports">
          <div class="col-id-cop">#{{ segnalazione.copisteria_id }}</div>
          <div class="col-id-cons">#{{ segnalazione.consumatore_id }}</div>
          <div class="col-time">{{ segnalazione.tempo }}</div>
          <div class="col-reason">{{ segnalazione.motivazione }}</div>
        </div>
      }

    </div>

  </ion-card>

</ion-content>
