<ion-content [fullscreen]="true">

  <ion-card class="ion-no-margin-top">

    <div class="table-container">
      <div class="table-header cols-4">
        <div class="col-id">ID</div>
        <div class="col-email">Email</div>
        <div class="col-password">Password Hash</div>
        <div class="col-actions">Azioni</div>
      </div>

      @for(consumatore of adminService.consumatori; track consumatore.consumatore_id) {
        <div class="table-row cols-4">
          <div class="col-id">{{ consumatore.consumatore_id }}</div>
          <div class="col-email">{{ consumatore.email }}</div>
          <div class="col-password">{{ consumatore.password_hash }}</div>
          
          <div class="col-actions">
            <ion-button class = "action-buttons" fill="clear" color="danger" size="small" (click)="eliminaConsumatore(consumatore)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </div>
        </div>
      }
    </div>

  </ion-card>

</ion-content>
