<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="copisterie" href="/admin/copisterie">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Copisterie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="segnalazioni" href="/admin/segnalazioni">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label>Segnalazioni</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="consumatori" href="/admin/consumatori">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Consumatori</ion-label>
    </ion-tab-button>

    <ion-tab-button class="logout-btn" (click)="onLogout()">
      <ion-icon name="exit-outline"></ion-icon>
      <ion-label>Esci</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
