<ion-tabs>

  <ion-tab-bar slot="top" color = "primary">
    <ion-tab-button tab="copisterie" href="/admin/copisterie">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Copisterie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="segnalazioni" href="/admin/segnalazioni">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Segnalazioni</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="consumatori" href="/admin/consumatori">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Consumatori</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
