<ion-header class="ion-no-border">
  <ion-toolbar class="main-toolbar">
    <div class="header-left" slot="start">
      <img src="./assets/icon/foglio.png" class="logo-header">
      <ion-title class="app-title">JustPrintIt</ion-title>
    </div>

    <div class="header-center">
      <ion-button fill="clear" (click)="scrollTo('home')" >Home</ion-button>
      <ion-button fill="clear" (click)="scrollTo('servizi')" >Servizi</ion-button>
      <ion-button fill="clear" (click)="scrollTo('contatti')" >Contatti</ion-button>
    </div>

    <div slot="end" class="header-right">
      <ion-button class="btn-accedi" shape="round" color="primary" href="/login">
        Accedi
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- PRIMA SEZIONE -->
  <div id="home" class="hero-section">
    <div class="hero-overlay"></div>

    <div class="hero-content">
      <h1>Stampa i tuoi documenti<br>senza fare la fila</h1>
      <p>Carica i file, scegli la copisteria e ritira quando vuoi.</p>

      <div class="hero-buttons">
        <ion-button size="large" shape="round" color="primary" href="/login">
          Inizia ora
        </ion-button>
      </div>
    </div>
  </div>

  <!-- COME FUNZIONA -->
  <div class="steps-section" id="come-funziona">
    <h2>Come funziona</h2>

    <div class="steps">
      <ion-card class="step">
        <ion-card-content>
          <h1>1. Carica</h1>
          <p>Invia il tuo file in pochi secondi</p>
        </ion-card-content>
      </ion-card>

      <ion-card class="step">
        <ion-card-content>
          <h1>2. Scegli</h1>
          <p>Seleziona la copisteria più vicina</p>
        </ion-card-content>
      </ion-card>

      <ion-card class="step">
        <ion-card-content>
          <h1>3. Ritira</h1>
          <p>Seleziona l'orario, è appena vieni lo troverai pronto</p>
        </ion-card-content>
      </ion-card>

    </div>
  </div>

  <!-- SERVIZI -->
  <div id="servizi" class="split-section">
    <div class="image-side">
      <img src="./assets/icon/chi siamo.png">
    </div>

    <div class="text-side">
      <h2>Stampa intelligente, senza attese</h2>
      <h2>Dimentica le code in copisteria</h2>
      <h2>Carichi i tuoi documenti
        in anticipo e li trovi pronti al ritiro</h2>
    </div>
  </div>

  <div class="map-section" id="mappa">
    <h2>Trova la copisteria più vicina a te</h2>
    <p>Scopri i nostri centri convenzionati direttamente sulla mappa.</p>
    <div class="map-container">
      <div id="map"></div>
    </div>
  </div>

  <!-- TRUST -->
  <div class="trust-section">
    <p>Già utilizzato da oltre <strong>1000+ studenti</strong></p>
  </div>

  <!-- CTA -->
  <div class="cta-section">
    <h2>Pronto a stampare senza stress?</h2>
    <ion-button size="large" shape="round" color="light" href="/login">
      Inizia ora
    </ion-button>
  </div>

  <ion-footer class="ion-no-border">
    <div id="contatti" class="footer-content">

      <div>
        <h4>Contatti</h4>
        <p>Email: info@justprintit.com</p>
        <p>Telefono: +39 0123 456 789</p>
      </div>

      <div>
        <h3>JustPrintIt</h3>
        <p>Connettiamo le copisterie agli utenti</p>
      </div>

      <div class="footer-social">
        <h4>Seguici sui social</h4>
        <div class="social-icons">
          <a href="https://www.instagram.com" target="_blank">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
          <a href="https://www.tiktok.com" target="_blank">
            <ion-icon name="logo-tiktok"></ion-icon>
          </a>
          <a href="https://www.youtube.com" target="_blank">
            <ion-icon name="logo-youtube"></ion-icon>
          </a>
        </div>
      </div>
    </div>

  <div class="footer-bottom">
    <p>© 2026 JustPrintIt</p>
  </div>
</ion-footer>

</ion-content>





