
/* HEADER */
.main-toolbar {
  padding: 4px 20px;
  backdrop-filter: blur(10px);
  background: rgba(255,255,255,0.8);
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);

}

.header-left {
  flex: 1;
  display: flex;
  align-items: center;

}

.header-right {
  flex: 1;
}

.logo-header {
  height: 70px;
  margin-right: 5px;
}

.app-title {
  font-weight: 700;
  color: #0054e9;

}

.header-center {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}


 @media (max-width: 768px) {
  .header-center {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .logo-header{
    height: 35px;

  }

  .app-title{
    font-size: 1rem;

  }

  .btn-accedi{
    --padding-start: 12px;
    --padding-end: 12px;
    font-size: 0.8rem;
  }
}

/* HERO */
.hero-section {
  position: relative;
  height: 90vh;
  background: url('/assets/icon/hero.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.hero-content {
  position: relative;
  color: white;
  max-width: 700px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 800;
}

.hero-content p {
  margin: 20px 0;
  color: #ddd;
}

.hero-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* STEPS */
.steps-section {
  padding: 80px 10%;
  text-align: center;
  padding: 80px 10%;
}

.steps {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;

  .step {
    max-width: 250px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-height: 110px;
    height: 110px;
    ion-card-content{
      height: 100%;
    }
  }
}

.step h1{
  color: #1a1a1a;
  margin-bottom: 8px;
}

.step p{
  color: #444444;
}

/* SPLIT */
.split-section {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  text-align: center;
  min-height: 80vh;
  align-items: stretch;
}

@media (min-width: 768px) {
  .split-section {
    flex-direction: row;
  }

  .text-side{
    text-align: center;
    align-items: center;
  }

}

.image-side img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;

}

.text-side {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  gap: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;

}

.text-side h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}




/* TRUST */
.trust-section {
  text-align: center;
  padding: 20px;
  font-size: 1.1rem;
}

/* CTA */
.cta-section {
  text-align: center;
  padding: 80px;
  background: #163b7a;
  color: white;

}


/* FOOTER */
ion-footer {
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  flex-wrap: wrap;
  background: #041032;
  color: rgb(255, 255, 255);
}

.footer-bottom {
  text-align: center;
  background: #000321;
  color: white;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.social-icons {
  display: flex;
  gap: 15px; /* Spazio tra le icone */
  --color: white !important;
}

.social-icons ion-icon {
  font-size: 24px; /* Dimensione delle icone */
  color: var(--ion-color-light); /* O il colore che preferisci */
  transition: transform 0.2s;
}
