<ion-content [fullscreen]="true">

  <ion-card class="ion-no-margin-top">

    <div class="table-actions">
      <ion-button class="btn-add" size="small" (click)="aggiungiNuova()">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        Aggiungi Nuova Copisteria
      </ion-button>
    </div>

    <div class="table-container">
      
      <div class="table-header cols-6">
        <div class="col-id">ID</div>
        <div class="col-nick">Nickname</div>
        <div class="col-name">Nome</div>
        <div class="col-pass">Password Hash</div>
        <div class="col-address">Indirizzo</div>
        <div class="col-actions">Azioni</div>
      </div>

      @for (copisteria of adminService.copisterie; track copisteria.copisteria_id) {
        <div class="table-row cols-6">
          <div class="col-id">{{ copisteria.copisteria_id }}</div>
          <div class="col-nick">{{ copisteria.nickname }}</div>
          <div class="col-name">{{ copisteria.nome }}</div>
          <div class="col-pass">{{ copisteria.password_hash }}</div>
          <div class="col-address">{{ copisteria.indirizzo }}</div>

          <div class="col-actions">
            <ion-button class="action-buttons" fill="clear" color="primary" size="small" (click)="modifica(copisteria)">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
            <ion-button class="action-buttons" fill="clear" color="danger" size="small" (click)="elimina(copisteria)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      }

    </div>

  </ion-card>

</ion-content>