<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>JustPrintIt</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="assets/icon/foglio.png" alt="homepage" />
      </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button id="menu-button">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-popover trigger="menu-button" dismissOnSelect="true">
  <ng-template>
    <ion-list lines="none">
      <ion-item button (click)="cambiaPassword()">
        <ion-label>Cambia password</ion-label>
      </ion-item>

      <ion-item button (click)="logout()">
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-popover>

<ion-content>
  <div>
  <div class="filters-container ion-padding-horizontal ion-padding-top">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-center">
    
        <ion-col size="4" size-sm="4">
          <div class="filter-card" 
              [ngClass]="{'attivo-corso': mostraInCorso}" 
              (click)="mostraInCorso = !mostraInCorso; caricaOrdiniConsumatore()">
            <span class="filter-text">In Corso</span>
          </div>
        </ion-col>

        <ion-col size="4" size-sm="4">
          <div class="filter-card" 
              [ngClass]="{'attivo-pronti': mostraPronti}" 
              (click)="mostraPronti = !mostraPronti; caricaOrdiniConsumatore()">
            <span class="filter-text">Pronti</span>
          </div>
        </ion-col>

        <ion-col size="4" size-sm="4">
          <div class="filter-card" 
              [ngClass]="{'attivo-storico': mostraStorico}" 
              (click)="mostraStorico = !mostraStorico; caricaOrdiniConsumatore()">
            <span class="filter-text">Storico</span>
          </div>
        </ion-col>

        <ion-col size="12" class="ion-margin-top">
          <ion-item lines="none" class="sort-card">
            <div class="sort-wrapper">
              <span class="sort-label">Ordina per</span>
              <ion-select [(ngModel)]="criterioOrdinamento" (ionChange)="aggiornaVista()" interface="popover" toggle-icon="chevron-down">
                <ion-select-option value="data-desc">Data: Più recenti</ion-select-option>
                <ion-select-option value="data-asc">Data: Più vecchi</ion-select-option>
                <ion-select-option value="prezzo-desc">Prezzo: Più caro</ion-select-option>
                <ion-select-option value="prezzo-asc">Prezzo: Più economico</ion-select-option>
              </ion-select>
            </div>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>  
</div>
  <hr class="ion-margin-horizontal" />


<div class="morph-container">
  
  <div class="morph-element" 
       [class.is-expanded]="IDordineDaModificare == -1" 
       (click)="!(IDordineDaModificare == -1) && toggleOrderForm()">
    
    <div class="morph-header">
      
      <span class="title-text">
        {{ IDordineDaModificare == -1 ? 'Dettagli Nuovo Ordine' : 'Nuovo Ordine' }}
      </span>

      <div class="toggle-icon-wrapper" 
           [class.is-clickable]="IDordineDaModificare == -1"
           (click)="IDordineDaModificare == -1 && toggleOrderForm(); $event.stopPropagation()">
        <ion-icon [name]="IDordineDaModificare == -1 ? 'close-outline' : 'add-outline'"></ion-icon>
      </div>
      
    </div>

    <div class="card-content-body" [class.show-content]="IDordineDaModificare == -1">
      <app-seleziona-copisteria
        (preventivoPronto)="onPreventivoPronto($event)">
      </app-seleziona-copisteria>
      <div class="action-buttons">
        <ion-button expand="block" [disabled]="!puoInviareOrdine()" (click)="apriNuovoOrdine(); $event.stopPropagation()">
          Invia Ordine
        </ion-button>
      </div>
    </div>

  </div>

</div>


<div class="orders-list">
  @for (ordine of ordiniVisualizzati; track ordine.ordine_id) {
    <div class="expand-reduce" [class.reverse]="IDordineDaModificare == ordine.ordine_id">
      <div class="morph-element2">
        <div class="morph-header">
          
          <span class="title-text">{{IDordineDaModificare == ordine.ordine_id ? "Modifica Ordine" : ""}}</span>

          <div class="toggle-icon-wrapper" 
              [class.is-clickable]="IDordineDaModificare == ordine.ordine_id"
              (click)="IDordineDaModificare = null; preventivoOrdine = null; $event.stopPropagation()">
            <ion-icon name="close-outline"></ion-icon>
          </div>
          
        </div>

        <div class="card-content-body" [class.show-content]="IDordineDaModificare == ordine.ordine_id">
          <app-seleziona-copisteria
            (preventivoPronto)="onPreventivoPronto($event)"
            [ordine] = "ordine">
          </app-seleziona-copisteria>
          <div class="action-buttons">
            <ion-button expand="block" [disabled]="!puoInviareOrdine()" (click)="modificaOrdine(ordine.ordine_id); $event.stopPropagation()">
              Modifica Ordine
            </ion-button>
          </div>
      </div>
    </div>

    <ion-card class="order-card ion-activatable ordine-card">
    <ion-card-content>
      <ion-grid class="ion-no-padding">
          <ion-row class="ion-align-items-center">
            <ion-col size="6">
              <div class="order-header">
                <span class="order-number">#{{ordine.ordine_id}}</span>
                <ion-chip color="primary" outline>
                  <ion-icon name="document-outline"></ion-icon>
                  <ion-label>{{ordine.formato_carta}}</ion-label>
                </ion-chip>
                <ion-chip color="secondary" outline>
                  <ion-icon name="print-outline"></ion-icon> <ion-label>{{ordine.metodo_di_stampa}}</ion-label>
                </ion-chip>
              </div>
              <p class="order-date">
                <ion-icon name="time-outline"></ion-icon> 
                Ritiro: {{ordine.tempo_minimo_ritiro | date:'dd/MM/yyyy HH:mm'}}
              </p>
            </ion-col>
            
            <ion-col size="6" class="right-actions-col">
              <div style="display: flex; flex-direction: row; justify-content: flex-end; padding-bottom: 10px; width: 100%;">
                @if(ordine.stato == 'EFFETTUATO') {
                  <ion-button fill="clear" color="danger" class="" (click)="cancellaOrdine(ordine.ordine_id); $event.stopPropagation();">
                    <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
                  </ion-button>
                }

                @if (ordine.stato === 'EFFETTUATO' || ordine.stato == 'CANCELLATO') {
                  <ion-button fill="clear" color="warning" class="" (click)="toggleModifyOrder(ordine.ordine_id); $event.stopPropagation();">
                    <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                  </ion-button>

                  <ion-button fill="clear" color="danger" class="" (click)="eliminaOrdine(ordine.ordine_id); $event.stopPropagation();">
                    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                  </ion-button>
                }

                <ion-button fill="clear" color="medium" class="" (click)="segnalaCopisteria(ordine.copisteria_id); $event.stopPropagation();">
                  <ion-icon slot="icon-only" name="flag-outline"></ion-icon>
                </ion-button>

                @if(ordine.stato != "CONSEGNATO" && ordine.stato != "CANCELLATO") {
                  <ion-button fill="clear" color="primary" class="" (click)="visualizzaFasceOrarieCopisteria(ordine.copisteria_id, ordine.tempo_minimo_ritiro, ordine.tempo_massimo_ritiro); $event.stopPropagation()">
                    <ion-icon slot="icon-only" name="calendar"></ion-icon>
                  </ion-button>
                }

                
              </div>
              
              <ion-chip [color]="getColorStatoConsumatore(ordine.stato)" class="status-chip">
                  {{ getEtichettaConsumatore(ordine.stato) }}
              </ion-chip>

              <h3 class="order-price">€ {{ordine.prezzo | number:'1.2-2' }}</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
    </div>
    
    
    
    
  } @empty {
    <p class="ion-padding ion-text-center">Nessun ordine corrisponde ai filtri selezionati</p>
  }
</div>

<ion-modal [isOpen] = "fasceOrarieRitiroOrdine != null" (didDismiss) = "fasceOrarieRitiroOrdine = null;"  [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 0.8]">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Fasce orarie ritiro</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        @for (
          item of fasceOrarieRitiroOrdine!;
          track item.inizio_fascia + item.fine_fascia
        ) {
          <ion-item>
            <ion-label>
              {{ item.inizio_fascia | date:'EEE dd MMM yyyy' }}
              {{ item.inizio_fascia | date:'HH:mm' }} - {{ item.fine_fascia | date:'HH:mm' }}
            </ion-label>
          </ion-item>
        } @empty {
          <ion-item>
            <ion-label>Nessuna fascia oraria disponibile per il ritiro dell'ordine, cantattare la copisteria.</ion-label>
          </ion-item>
        }
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>

</ion-content>