<ion-content [fullscreen]="true" class="ion-padding colori-sfondo">
  <div class="center-container">
    
    <ion-card class="itembox large-card">
      <ion-card-content class="split-layout">
        <div class="form-side">
          <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <div class="back-button-container">
              <ion-button fill="clear" href="/admin/copisterie" class="btn-back-arrow">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
              </ion-button>
            </div>
            <ion-input
              label="Nickname"
              label-placement="stacked"
              fill="outline"
              placeholder="Inserisci il nickname della copisteria (deve iniziale con 'copisteria.')"
              class="ion-margin-bottom"
              type="text"
              name="nickname"
              pattern="^copisteria\..*$"
              required [(ngModel)]="copisteria.nickname">
            </ion-input>

            <ion-input
              label="Nome"
              label-placement="stacked"
              fill="outline"
              placeholder="Inserisci il nome della copisteria"
              class="ion-margin-bottom"
              type="text"
              name="name"
              required [(ngModel)]="copisteria.nome">
            </ion-input>

            <ion-input
              #passwordInput
              label="Password"
              [placeholder]="!copisteria.copisteria_id ? 'Password copisteria' : 'Inserisci nuova password o lascia in bianco'"
              label-placement="stacked"
              fill="outline"
              class="ion-margin-bottom"
              type="password"
              name="password"
              [required]="!copisteria.copisteria_id" [(ngModel)]="password">
            </ion-input>

            <ion-input
              label="Indirizzo"
              label-placement="stacked"
              fill="outline"
              placeholder="Inserisci l'indirizzo della copisteria"
              class="ion-margin-bottom"
              type="text"
              name="indirizzo"
              (ionBlur)="calcolaLatitudioneLongitudineDaIndirizzo()"
              (keyup.enter)="calcolaLatitudioneLongitudineDaIndirizzo()"
              required [(ngModel)]="copisteria.indirizzo">
            </ion-input>

            <div class="coordinates-row">
              <ion-input
                label="Latitudine"
                label-placement="stacked"
                fill="outline"
                placeholder="Latitudine"
                type="text"
                name="latitudine"
                (ionInput)="onPosizioneChange()"
                required [(ngModel)]="copisteria.latitudine">
              </ion-input>
              
              <ion-input
                label="Longitudine"
                label-placement="stacked"
                fill="outline"
                placeholder="Longitudine"
                type="text"
                name="longitudine"
                (ionInput)="onPosizioneChange()"
                required [(ngModel)]="copisteria.longitudine">
              </ion-input>
            </div>

            <ion-button expand="block" class="login-button" type="submit" [disabled]="!loginForm.valid">
              {{ copisteria.copisteria_id ? 'Modifica' : 'Crea' }}
            </ion-button>
          </form>
        </div>

        <div class="map-side">
          <div id="map"></div>
        </div>

      </ion-card-content>
    </ion-card>
    
  </div>
</ion-content>
