.input-email {
  margin-bottom: 12px;
}

.login-button {
  margin-top: 20px;
  --border-radius: 8px;
}

.logo-header{
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
  margin-top: -40px;
}

.error-message {
  margin-top: 4px;
  margin-bottom: 15px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  
  background-color: #fff9db; 
  border: 1px solid #ffe066;  
  border-radius: 8px;        

  ion-note {
    --color: #664d03; 
    font-weight: 500;            
  }
}