<ion-content [fullscreen]="true" class="ion-padding colori-sfondo">
  <div class="center">
    <ion-card class="form-container">
      <ion-card-header class="ion-text-center">
        <img src="./assets/icon/copisteria.png" class="logo-header">
        <ion-card-title class="ion-text-left">Recupera Password</ion-card-title>
      </ion-card-header>
      
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <ion-input
          #emailInput
          #emailCtrl="ngModel"
          label="email"
          label-placement="stacked"
          fill="outline"
          type="text"
          placeholder="Inserisci la tua email"
          name="email"
          required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          [(ngModel)]="email"
          class="input-email">
        </ion-input>

        @if (emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)) {
          <div class="error-message">
            @if (emailCtrl.errors?.['required']) {
              <ion-note>• L'email è obbligatoria</ion-note>
            }
            @if (emailCtrl.errors?.['pattern']) {
              <ion-note>• Inserisci un indirizzo email valido (es. nome@esempio.com)</ion-note>
            }
          </div>
        }

        <ion-button href="login" expand="block" class="login-button" [disabled]="loginForm.invalid" type="submit">
          Recupera Password
        </ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>