<ion-content [fullscreen]="true" class="ion-padding colori-sfondo">
  <div class="center">
    <ion-card class="form-container">
      <h1>Inserisci la nuova password</h1>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
          <ion-input
            #emailInput
            label="email"
            label-placement="stacked"
            fill="outline"
            type="text"
            placeholder="email"
            name="email"
            required [(ngModel)] = "email">
          </ion-input>

          <ion-button expand="block" class="login-button" type="submit">
            Recupera Password
          </ion-button>
        </form>
    </ion-card>
  </div>
</ion-content>
