<ion-content [fullscreen]="true" class="ion-padding colori-sfondo">
  <div class="center">
    <ion-card class="form-container">
      <ion-card-header class="ion-text-center">
        <img src ="./assets/icon/copisteria.png" class = "logo-header">
        <ion-card-title class="ion-text-left">Recupera Password</ion-card-title>
      </ion-card-header>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
          <ion-input
            #emailInput
            label="email"
            label-placement="stacked"
            fill="outline"
            type="text"
            placeholder="email"
            name="email"
            required [(ngModel)] = "email">
          </ion-input>

          <ion-button href= "login" expand="block" class="login-button" type="submit">
            Recupera Password
          </ion-button>
        </form>
    </ion-card>
  </div>
</ion-content>
