<ion-content [fullscreen]="true" class="ion-padding colori-sfondo">
  <div class="center">
    <ion-card class="form-container">
      <ion-card-header class="ion-text-center">
        <img src ="./assets/icon/copisteria.png" class = "logo-header">
        <ion-card-title class="ion-text-left">Modifica password</ion-card-title>
      </ion-card-header>
      <form #passwordForm="ngForm" (ngSubmit)="onSubmit(passwordForm)">
          <ion-input
            #passwordInput
            #passwordCtrl="ngModel"
            label="Password"
            label-placement="stacked"
            fill="outline"
            type="password"
            placeholder="Nuova Password"
            name="password"
            required 
            minlength="8"
            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
            [(ngModel)] = "password"
            (ngModelChange)="checkPasswordRequirements()">>

            <ion-icon
              slot="end"
              style="cursor: pointer; font-size: 1.5rem;"
              [name]="isPressed ? 'eye-outline' : 'eye-off-outline'"
              (mousedown)="showPassword(passwordInput)"
              (mouseup)="hidePassword(passwordInput)"
              (mouseleave)="hidePassword(passwordInput)"
              (touchstart)="showPassword(passwordInput)"
              (touchend)="hidePassword(passwordInput)">
            </ion-icon>
          </ion-input>

           @if (passwordCtrl.invalid && (passwordCtrl.dirty || passwordCtrl.touched)) {
            <div class="error-message">
              @if (!passwordRequirements.hasLength) {
                <ion-note>• Devono esserci almeno 8 caratteri</ion-note>
              }
              @if (!passwordRequirements.hasLetter) {
                <ion-note>• Deve esserci almeno una lettera</ion-note>
              }
              @if (!passwordRequirements.hasNumber) {
                <ion-note>• Deve esserci almeno un numero</ion-note>
              }
              @if (!passwordRequirements.hasSpecial) {
                <ion-note>• Deve esserci almeno un carattere speciale (@$!%*?&)</ion-note>
              }
            </div>
           }

          <ion-button expand="block" class="login-button" [disabled]="passwordForm.invalid" type="submit">
            Modifica Password
          </ion-button>
        </form>
    </ion-card>
  </div>
</ion-content>
